<launch>
	<node name="sharp_node" pkg="jus_avoid" type="sharp_publisher.py"/>
	<node name="sharp_reader" pkg="jus_avoid" type="sharp_subscriber.py" output="screen"/>
	<node name="servoL" pkg="jus_avoid" type="servoL.py" output="screen"/>
	<node name="servoR" pkg="jus_avoid" type="servoR.py" output="screen"/>
	<node name="control" pkg="jus_avoid" type="start_stop.py"/>
</launch>
